
/*Selector por id*/
#toogler
{
    background-color: darkslategray;
}

/*Selector todos los erlementos*/
body
{
    background-color : rgb(220, 247, 244);
}

/* Selector de clases */
.container
{
    padding-right: 15px;
    padding-left: 15px;
}

/*Selector de hijo*/
div > h3
{
    color:red;
    font-size: 1.2rem;
    text-align: center;
}

/*Selector de pseudo elemento*/
#nombre::before
{
    content: "God ";
    font-weight: bold;
}

/* Selecciona todos los elementos p dentro de un container */
.container p
{
    color : rgb(74, 9, 128);
}

/* YA CUMPLI CON LOS 5 DE SELECTORES, AHORA SOY LIBRE :) */




.foto
{
    margin : 20px;
    width : 18vw;
    height : 18vw;
    border-radius : 150%;
    object-fit: cover;
    border-style: double;
    border-color: #D4AF37;
    border-width: thick;
}

p::selection
{
    color: red;
    background-color: yellow;
}

.datos
{
    margin-left: 2%;
    margin-right: 2%;
}

@media only screen and (max-width: 600px)
{
    .foto
    {
        margin: 20px;
        width: 50vw;
        height: 50vw;
        border-radius: 150%;
        object-fit: cover;
        border-style: double;
        border-color: #D4AF37;
        border-width: thick;
    }

    .info
    {    
        flex-wrap: wrap;
    }

    .navbar-collapse 
    {
        display: flex;
        justify-content: center;
    }
}